@{
    ViewBag.Title = "Главная";
}
@using FreelancerArticle.Web.Helpers

@Html.ValidationSummary("", new { @class = "text-danger" })
<style>
    p {
        margin: 0px;
        margin-top: 5px;
    }

    .hover_color {
        background-color: #fefe88 !important;
    }

    .click_color {
        background-color: #90ee90 !important;
    }

    button {
        margin: 10px
    }

        button:disabled {
            color: darkgrey;
        }

    input:read-only, textarea:read-only {
        background-color: #ebebe4;
    }

    input, select {
        margin-top: 5px;
        margin-bottom: 5px
    }
</style>

<div id="modalBoxWriteToModerator" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Написать модератору</h4>
            </div>
            @using (Html.BeginForm("SendMessage", "Home", FormMethod.Post))
            {
                <div class="modal-body text-center">
                    <textarea name="message" style="width: 100%; height: 250px; resize: none;" id="textbox"></textarea>
                </div>
                <div class="modal-footer">
                    <button id="buttonSendMessage" type="submit" class="btn btn-primary">Отправить сообщение</button>
                </div>
            }
        </div>
    </div>
</div>

<div id="modalBoxFormForWork" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Форма заказа</h4>
            </div>
            <div class="modal-body text-center">
                <p>Тема:</p>
                <input name="topic" type="text" readonly />
                <p>Название:</p>
                <input id="title" name="title" type="text" readonly />
                <p>Подробное описание:</p>
                <textarea name="description" style="width: 100%; height: 200px; resize: none;" id="textbox" readonly></textarea>
                <p>Кол-во символов:</p>
                <input name="countSymbols" type="text" readonly />
                <p>Бюджет:</p>
                <input name="money" type="text" readonly />
            </div>
            <div class="modal-footer">
                <button id="buttonAttachWorkDone" class="btn btn-primary" disabled>Прикрепить выполненную работу</button>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid" style="margin-top: 30px">
    <div class="row">
        <div class="col-md-4 text-left">
            <h4>Информация о вас</h4>
            <p>Логин:</p>
            <input value="@ViewBag.User.Логин" disabled>
            <p>Имя:</p>
            <input value="@ViewBag.User.Имя" disabled>
            <p>Фамилия:</p>
            <input value="@ViewBag.User.Фамилия" disabled>
            <p>Отчество:</p>
            <input value="@ViewBag.User.Отчество" disabled>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4 text-right">
            <h4>Ваш кошелек</h4>
            <p>Номер:</p>
            <input value="@ViewBag.Wallet.C__Кошелька" disabled>
            <p>Сумма:</p>
            <input value="@ViewBag.Wallet.Сумма" disabled>
            <br>
            <button id="buttonWriteToModerator">Написать модератору</button>
        </div>
    </div>
</div>
<div class="container-fluid" style="margin-top: 40px">
    <div class="row">
        <table id="tableOrders" class="table table-bordered">
            <thead>
                <tr>
                    <th>№ Заказа</th>
                    <th>Заказчик</th>
                    <th>Тема</th>
                    <th>Название</th>
                    <th>Кол-во символов</th>
                    <th>Бюджет</th>
                    <th>Состояние</th>
                    <th>Ваш отклик</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var order in ViewBag.Orders)
                {
                    <tr>
                        <th>@order.C__Заказа</th>
                        <th>@order.Заказчик</th>
                        <th>@order.Тема</th>
                        <th>@order.Название</th>
                        <th>@order.Количество_символов</th>
                        <th>@order.Бюджет</th>
                        <th>@order.Состояние</th>
                        <th>@(ViewBag.DictFeedback[order.C__Заказа] ? "Есть" : "Нет")</th>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div class="container-fluid" style="margin-top: 10px">
    <div class="row text-right">
        <button id="buttonDoFeedback" disabled>Откликнуться</button>
        <button id="buttonViewWork" disabled>Подробнее</button>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#tableOrders tbody tr").hover(function () {
            $(this).addClass("hover_color")
        }, function () {
            $(this).removeClass("hover_color")
        });

        $("#tableOrders tbody tr").click(function (event) {
            $("#tableOrders tbody tr").removeClass("click_color");
            $(this).toggleClass("click_color");
            var table = $(this)[0].children;
            $("#buttonViewWork").prop('disabled', false);
            if (table[6].innerText == "Нет отклика"
                || (table[6].innerText == "Есть отклик" && table[7].innerText == "Нет")) {
                $("#buttonDoFeedback").prop('disabled', false);
            }
            else {
                $("#buttonDoFeedback").prop('disabled', true);
            }
            if (table[6].innerText != "Нет отклика"
                && table[6].innerText != "Есть отклик" && table[7].innerText == "Есть") {
                $("#buttonAttachWorkDone").prop('disabled', false);
            }
            else {
                $("#buttonAttachWorkDone").prop('disabled', true);
            }
        });
    });

    $("#buttonWriteToModerator").click(function (event) {
        $("#modalBoxWriteToModerator").modal('show');
    });

    $("#buttonViewWork").click(function (event) {
        var currentElementTable = $("tr.click_color")[0].children[0].innerText;
        $.post("@Url.Action("FillViewWork", "Home", null, Request.Url.Scheme)" + "?id=" + currentElementTable, function (data) {
            $("#modalBoxFormForWork input[name=topic]").val(data.topic);
            $("#modalBoxFormForWork input[name=title]").val(data.title);
            $("#modalBoxFormForWork textarea[name=description]").val(data.description);
            $("#modalBoxFormForWork input[name=countSymbols]").val(data.countSymbols);
            $("#modalBoxFormForWork input[name=money]").val(data.money);
        });
        $("#modalBoxFormForWork").modal('show');
    });

    $("#buttonDoFeedback").click(function (event) {
        var currentElementTable = $("tr.click_color")[0].children[0].innerText;
        $.get("@Url.Action("DoFeedback", "Home", null, Request.Url.Scheme)", { id: currentElementTable });
        $("tr.click_color")[0].children[7].innerHTML = "Есть";
        location.reload();
    });

    $("#buttonAttachWorkDone").click(function (event) {
        var currentElementTable = $("tr.click_color")[0].children[0].innerText;
        var response = prompt("Ссылка на файл:");
        if (response != null && response != "") {
            $.get("@Url.Action("AttachWorkDone", "Home", null, Request.Url.Scheme)", { id: currentElementTable, file: response });
            location.reload();
        }
    });
</script>
