@{
    ViewBag.Title = "Войти";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model FreelancerArticle.Web.Models.LoginViewModel
@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <h4>Войдите под своей учетной записью</h4>
    @Html.ValidationSummary("", new { @class = "text-danger" })

    @Html.Label("Кто вы?")
    <br>
    <select name="role" style="width: 178.4px; height: 26px">
        <option value="Freelancer">Фрилансер</option>
        <option value="Customer">Заказчик</option>
        <option value="Moderator">Модератор</option>
    </select>
    <br><br>
    @Html.LabelFor(m => m.Login)
    <br>
    @Html.TextBoxFor(m => m.Login)
    <br><br>

    @Html.LabelFor(m => m.Password)
    <br>
    @Html.PasswordFor(m => m.Password)
    <br><br>

    <p><input type="submit" value="Войти" /></p>
}